@model TelefonRehberi.Models.Kisi

<h2>Kişi Düzenle</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Ad:</label>
        <input asp-for="Ad" />
        <span asp-validation-for="Ad" style="color:red"></span>
    </div>

    <div>
        <label>Soyad:</label>
        <input asp-for="Soyad" />
        <span asp-validation-for="Soyad" style="color:red"></span>
    </div>

    <div>
        <label>Telefon:</label>
        <input asp-for="Telefon" />
        <span asp-validation-for="Telefon" style="color:red"></span>
    </div>

    <div>
        <label>Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" style="color:red"></span>
    </div>

    <div class="form-group">
        <label asp-for="Departman">Departman Seç</label>
        <select asp-for="Departman" class="form-control" asp-items="@(new SelectList(ViewBag.Departmanlar))">
            <option value="">Departman Seçiniz</option>
        </select>
        <span asp-validation-for="Departman" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label class="control-label">Yeni Şifre</label>
    <input type="password" name="password" class="form-control" placeholder="(Boş bırakırsan değişmez)" />
</div>


    <button type="submit">Güncelle</button>
    <a asp-action="Index">İptal</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
